.alumni-background{
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/slider_4.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.alumni-swiper {
  display: none;
}

.alumni-card {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
}

.alumni-main-text {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.alumni-img {
  padding: 20px;
}

.alumni-text {
  display: flex;
  padding: 30px;
  height: 100%;
}

.alumni-text p {
  margin: auto;
  text-align: center;
}

/* MOBILE SWIPER */

.alumni-swiper-mobile {
  display: block;
}

.alumni-card {
  max-width: 90%;
  text-align: center;
}

.alumni-img-mobile {
  width: 100%;
  padding: 20px;
}

.alumni-swiper-mobile .swiper-button-prev {
  left: 15px;
}

.alumni-swiper-mobile .swiper-button-next {
  right: 15px;
}

/* MOBILE SWIPER END */

@media only screen and (min-width: 786px) {
  .alumni-swiper {display: block;}
  .alumni-swiper-mobile {display: none;}
  .alumni-card {max-width: 80%;}
}