.contact {
  background-color: #eee;
  padding: 20px;
}

.contact h2 {
  text-align: center;
}

.contact-main {
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 50px;
  width: 80%;
}

.contact-main img {
  border-radius: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.cm-data {
  display: flex;
}

.cm-inner {
  margin: auto;
  text-align: center;
}

.cm-inner h4 {
  margin-bottom: 0;
}

.cm-inner .subtext {
  font-size: 14px;
}

@media only screen and (min-width: 768px){
  .contact-main {width: 60%;}
  .cm-inner{text-align: left;}
  .contact-main img {margin-bottom: 0;}
}