#hero {
  width: 100%;
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../img/bg1.jpg") center center;
    background-size: cover;
    position: relative;
  }

  .main{
padding-top: 40%;
margin: 0 auto;
}

  .cus-btn {
    border-radius: 8px;
    padding: 8px;
    /* display: inline; */
    text-align: center;
    background-color: var(--primary-blue);
    border: none;
    transition: all .2s ease-out;
}

  .cus-btn:hover {
    background-color:black;
}

  .btn-inside{
    color: white;
  }
  
  @media only screen and (min-width: 786px) {
    .main{
      padding-top: 20%;
      padding-left: 85%;
      }
  }
  @media only screen and (max-width: 786px) {
    .main{
      width: 200px;
      }
  }
  
  /* #hero .container {
    padding-top: 72px;
  }
  
  @media (max-width: 992px) {
    #hero .container {
      padding-top: 62px;
    }
  }
  
  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  
  #hero h2 {
    color: #eee;
    margin: 10px 0 0 0;
    font-size: 24px;
  }
  
  /* #hero .btn-get-started { 
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #hero .btn-get-started:hover {
    background:  var(--primary-blue);
    border: 2px solid  var(--primary-blue);
  } */

  /* @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero {
      height: 100vh;
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  .bgc {
    background-color: white;
    padding: 10px 0px !important;
    position: fixed !important;
}

.grid-box {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}

.drives-section {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
} */
