  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  
  #header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
  }
  
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo a {
    color: var(--primary-blue);
    text-decoration: none;
  }
  
  #header .logo img {
    max-height: 40px;
  }
  
  /**
  * Get Startet Button 
  */
  
  .get-started-btn {
    margin-left: 22px;
    background: var(--primary-blue);
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
  }
  
  .get-started-btn:hover {
    background: var(--primary-blue);
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .get-started-btn {
      margin: 0 15px 0 0;
      padding: 6px 18px;
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  
  /**
  * Desktop Navigation 
  */
  
  .navbar {
    padding: 0;
    margin-right: 4rem;
    justify-self: flex-end;
  }
  
  .navbar ul {
    margin: 0;
    margin-left: auto;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
    text-align: center;
    z-index: 10001;
  }
  
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #37423b;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }
  
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
    color: var(--primary-blue);
  }
  
  @media (min-width: 1000px) {
    .navbar {
      margin-left: auto;
    }
  }
  
  .socials-dropdown {
    position: relative;
    margin: 20px;
  }
  
  .soc-list-container {
    display: block;
    position: absolute;
    top: 400%;
    left: -100%;
    margin: 0;
    padding: 20px 5px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .mobile-dropdown {
    visibility: visible;
    opacity: 1;
    display: block;
    position: absolute;
    left: 0px;
    top: 200%;
    margin: 0;
    padding: 20px 5px;
    z-index: 99;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .socials-dropdown ul li {
    display: flex;
    list-style: none;
  }
  
  .socials-dropdown ul img {
    width: 30px;
    height: 30px;
    background: transparent;
    margin-left: 30px;
  }
  
  .socials-dropdown ul a {
    /* padding: 10px 20px; */
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
  }
  
  .socials-dropdown ul a i {
    font-size: 12px;
  }
  
  .socials-dropdown ul a:hover, .dropdown ul .active:hover, .dropdown ul li:hover>a {
    color: var(--primary-blue);
  }
  
  .socials-dropdown:hover>ul {
    opacity: 1;
    top: 0;
    /* left: -50%; */
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .socials-dropdown:hover>ul {
      top: 150%;
    }
  }
  
  @media (min-width: 1000px) {
    .socials-dropdown {
      display: none;
    }
  }
  
  @media (max-width: 500px) {
    .mobile-dropdown {
      top: 300%;
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  
  .mobile-nav-toggle {
    color: #37423b;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
    .navbar ul {
      display: none;
    }
    .navbar {
      margin-right: 0;
      margin-left: 0px !important;
    }
  }
  
  .navbar-mobile {
    position: fixed !important;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(32, 38, 34, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    width: 100;
    height: 100%;
    /* z-index: 1000; */
  }
  
  .navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #37423b;
  }
  
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover>a {
    color: var(--primary-blue);
  }
  
  .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover>a {
    color: var(--primary-blue);
  }
  
  .dropdown>.dropdown-active {
    display: block;
  }

  .logo-tag {
    display: flex;
    align-items: flex-end;
}

.tag {
    font-size: 18px;
    color: var(--primary-blue);
    font-family: 'montserrat';
    align-self: flex-end;
}

.divider {
    height: 50px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0px 6px;
    align-self: center;
}

.logo-img {
    height: 60px;
    width: 60px;
}

.social-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
}

.social-wrap a {
    display: flex;
    width: 40px;
    height: 40px;
    background: var(--primary-blue);
    position: relative;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.social-wrap> :last-child {
    background-color: white;
}

.social-wrap a>svg {
    justify-self: center;
    align-self: center;
    color: white;

}

.social-wrap a>img {
    position: absolute;
    width: 130%;
    height: 130%;
    justify-self: center;
    align-self: center;
    color: white;
    /* vertical-align: top; */
}

.social-wrap a:hover {
    background: black;
}

*>a {
  text-decoration: none !important;
}