.social-banner{
  background-color: var(--primary-blue);
  color: #fff;
}

.social-list{
  margin: 0 auto;
}

.social-list a{
  color: #fff;
}

.social-list a:hover{
  color: #000;
}

.social-btn {
  margin: 10px;
  font-size: 25px;
}

@media only screen and (min-width: 768px) {
  .right-spacing {display: none;}
}