.team-background {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.team-main-text {
  font-weight: bold;
  color: #fff;
}

.team-card {
  margin: 0 auto;
  text-align: center;
}

.team-img {
  width: 100%;
  border-radius: 100%;
}

.team-background .swiper-button-prev {
  left: 0;
  top: 75%;
}

.team-background .swiper-button-next {
  right: 0;
  top: 75%;
}

@media only screen and (min-width: 786px) {
  .team-background .swiper-button-prev {
    display: none;
    top: 25px;
    left: 0;
    padding: 20px;
    height: 90%;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 8px 8px #000d;
    color: #fff;
    background-color: var(--primary-blue);
  } 
  
  .team-background .swiper-button-next {
    display: none;
    top: 25px;
    right: 0;
    padding: 20px;
    height: 90%;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 8px 8px #000d;
    color: #fff;
    background-color: var(--primary-blue);
  } 
}